body {
  background-color: white;
}
.App {
  background: white;
  text-align: center;
}
.App p {
  border: 2px solid black;
  padding: 5px;
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px #888888;
  margin-bottom: 10px;
}